.date-container {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-self: flex-end;

	.day-display {
		font-size: 3rem;
		height: 100%;
	}

	.group {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 3rem;
	}
}